{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="password-reset-done">
		<br>
		<p>
		    {% blocktrans %}
		    An email has been sent to you containing a link that will help you reset your password. Please check your email and follow the instructions to continue.
		    {% endblocktrans %}
		</p>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
