{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load placeholder %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="password-reset-form">
		<br>
		<p>
		    {% blocktrans %}
		    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
		    {% endblocktrans %}
		</p>
		<form method="post" action="">
		    {% csrf_token %}
		    <div class="password-reset-email">
		    	{{ form.email|placeholder:"Email" }}
		    	{{ form.email.errors }}
		    </div>
		    <br>
		    <input type="submit" class="btn btn-lg btn-success" value="{% trans 'Reset password' %}" />
		</form>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}