dev.db
YourToDo/__pycache__/forms.cpython-35.pyc
YourToDo/__pycache__/views.cpython-35.pyc
dev.db
dev.db
lib/__pycache__/__init__.cpython-35.pyc
lib/__pycache__/admin.cpython-35.pyc
lib/__pycache__/models.cpython-35.pyc
lib/templatetags/__pycache__/__init__.cpython-35.pyc
lib/templatetags/__pycache__/placeholder.cpython-35.pyc
