<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>YourToDo | {% block pageTitle %}Home{% endblock %}</title>
		{% load staticfiles %}

		<!-- #TODO: Create & add favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">

        <!-- CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet">
        <link href="{% static 'css/drop-theme-arrows.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- JS -->
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/tether.min.js' %}"></script>
        <script src="{% static 'js/drop.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-editable.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" id="btnCollapse" data-toggle="collapse" data-target="#navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">YourToDo</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        	<a href="/">home</a>
                        </li>
                        <li>
                            <a href="/planner">planner</a>
                        </li>
                        <li>
                        	<a href="/about">about</a>
                        </li>
                        <li>
                        	<a href="/contact">contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a data-target="#" id="acctDropDown" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if user.profile.get_profilePicture %}
                                <img class="user-pic-nav" src="{{ user.profile.get_profilePicture.url }}" alt="{{ user.get_firstName }}'s Profile Picture" />
                                {% else %}
                                <img class="user-pic-nav" src="{% static 'img/default_user.png' %}" alt="User Profile Picture" />
                                {% endif %}
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="acctDropDown">
                                <a href="/planner"><li>Planner</li></a>
                                <a href="/user-account-information"><li>Account</li></a>
                                <li role="separator" class="divider"></li>
                                <a href="/accounts/logout"><li>Sign Out</li></a>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="/accounts/login">sign in/register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wrapper">
            {% block content %}
            <div class="base-header">
                <div class="container">
                    <h2>A new way to organize your life</h2><br>
                    <h4>We've made it easy to create useful, organized planners that will allow you to stay productive even when you've got a million things to do.</h4>
                    {% if not user.is_authenticated %}
                        <a href="/accounts/login"><button class="btn btn-lg btn-success">Sign In</button></a>
                        <a href="/accounts/register"><button class="btn btn-lg btn-success">Sign Up</button></a>
                    {% else %}
                        <a href="/planner"><button class="btn btn-lg btn-success">View My Planner</button></a>
                    {% endif %}
                </div>
            </div>

            <div class="base-content bg-light">
                <div class="container">
                    
                </div>
            </div>
            {% endblock %}

            {% block footer %}
            <div class="footer">
                <p>&copy; 2015 YourToDo - A DavidOfferHackIneau Company</p>
            </div>
            {% endblock %}
        </div>
        <div class="no-mobile bg-light">
            <div class="container">
                <h2>YourToDo does not currently support mobile devices.</h2>
                <h3>Please increase your viewport or try a larger device.</h3>
            </div>
            <div class="footer">
                <p>&copy; 2015 YourToDo - A DavidOfferHackIneau Company</p>
            </div>
        </div>
	</body>
</html>