{% extends 'base.html' %}

{% block pageTitle %}Log In{% endblock %}

{% block content %}
    <div class="bg-light">
        <div class="container">
            <div class="form-signin">
                <h2>Sign In</h2><br>
                <form action="/login/" method="post">{% csrf_token %}
                    <div class="signin-username">
                        {{ form.username }}
                    </div>
                    <div class="signin-password">
                        {{ form.password }}
                    </div>
                    <br>
                    <div class="errorlist">
                    {% if form.errors %}
                    <p>Either the username or password you entered is incorrect.</p>
                    {% endif %}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success submit" value="Login" />
                </form><br>
                <a href="/registration">or click here to sign up.</a><br>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2015 YourToDo - A DavidOfferHackIneau Company</p>
        </div>
    </div>
{% endblock %}