{% extends 'base.html' %}

{% block pageTitle %}Log In{% endblock %}

{% block content %}
    <div class="bg-light">
        <div class="container">
            <div class="form-signin">
                <h2>Sign In</h2><br>
                {% if form.errors %}
                    <p>Sorry, that's not a valid username or password</p>
                {% endif %}

                <form action="/auth/" method="post">{% csrf_token %}
                    <input type="text" class="form-signin-input" name="username" placeholder="Username" id="username"><br>
                    <input type="password" class="form-signin-input" name="password" placeholder="Password" id="password"><br>

                    <input type="submit" class="btn btn-success submit" value="Login" />
                </form><br>

                <a href="/registration">or click here to sign up.</a><br>
            </div>
        </div>

        <div class="footer">
            <p>&copy; 2015 YourToDo - A DavidOfferHackIneau Company</p>
        </div>
    </div>
{% endblock %}