html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	padding-top: 36px;
	font-family: 'Titillium Web', sans-serif;
}

.wrapper {
	min-height: 100%;
	position: relative;
	background-color: #5F648D;
	padding-bottom: 50px;
}

.header {

}

.content {

}

.bg-light {
	background-color: #5F648D;
}

.user-pic-nav {
	width: 32px;
	height: 32px;
	margin-top: -5px;
	border: 1px solid #B2B2B2;
}

nav {
	height: 72px;
}

.navbar-brand {
	font-size: 36px;
	line-height: 36px;
}

ul.navbar-nav>li {
	font-size: 20px;
	line-height: 20px;
	margin-top: 10px;
}

.base-header {
	height: 450px;
	background-color: #424875;
	text-align: center !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.base-header h4>a {
	text-decoration: underline;
	color: #fff;
}

.base-header a:hover {
	color: #000;
}

.base-header button {
	width: 200px;
	margin: 20px;
}

.base-content {
	color: #fff;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #424875;
	color: #fff;
	width: 100%;
	height: 50px;
	text-align: center;
	padding: 17px;
}

.form-signin h2 {
	color: #fff;
	margin-top: 0;
}

.form-signin input {
	width: 300px;
	height: 70px;
	padding: 15px;
	margin-top: 5px;
	font-size: 24px;
}

.form-signin p {
	color: #fff;
}

.form-signin .errorlist p {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

.form-signin a {
	color: #6c6;
	font-size: 16px;
}

.form-registration h2 {
	color: #fff;
	margin-top: 0;
}

.form-registration .registration-username input {
	margin-bottom: 8px;
}

.form-registration .registration-username p {
	color: #fff;
	margin-bottom: -5px
}

.form-registration input {
	width: 240px;
	height: 55px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}

.form-registration .registration-username .errorlist {
	margin-top: 15px;
}

.form-registration .errorlist {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: -40px;
}

.form-registration .errorlist li {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
}

.registration-success {
	font-size: 25px;
	color: #fff;
}

.activation-complete {
	font-size: 25px;
	color: #fff;
}

.activation-complete a {
	color: #6c6;
}

.activation-failure {
	font-size: 25px;
	color: #fff;
}

.activation-failure a {
	color: #6c6;
}

.password-reset-form p {
	color: #fff;
	font-size: 25px
}

.password-reset-form .password-reset-email input {
	width: 270px;
	height: 50px;
	font-size: 20px;
	padding-left: 10px;
}

.password-reset-done p {
	color: #fff;
	font-size: 25px;
}

.password-reset-confirm p {
	color: #fff;
	font-size: 25px;
}

.password-reset-confirm input {
	width: 250px;
	height: 50px;
	padding-left: 10px;
	font-size: 20px;
}

.password-reset-confirm .errorlist {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -40px;
}

.password-reset-confirm .errorlist li {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
}

.password-reset-complete p {
	font-size: 25px;
	color: #fff;
}

.password-reset-complete a {
	color: #6c6;
}

.form-contact {
	color: #fff;
}

.form-contact-text {
	font-size: 22px;
	text-align: center;
	margin-top: -10px;
}

.form-contact input, .form-contact textarea {
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	font-size: 18px;
	color: #000;
}

.form-contact input.submit {
	color: #fff;
}

.contact-success {
	color: #fff;
	text-align: center;
	margin-top: 45px;
}

/* About Page Styles */
.about {
	color: #fff;
	text-align: justify;
}

.about h3 {
	text-align: left;
}

.about-header {
	padding-top: 35px;
	padding-bottom: 45px;
	background-color: #424875;
}

.about-header p, .about-content p {
	font-size: 16px;
}

.about-content {
	padding-top: 35px;
	padding-bottom: 65px;
}

.about-profile-pic {
	width: 200px;
	height: 200px;
	margin: 20px 15px 15px 0px;
	float: left;
}

.about-bio-sep {
	margin-bottom: 30px;
}

.dropdown-menu a > li {
	padding: 10px;
	font-size: 18px;
	text-align: center;
}

.dropdown-menu {
	min-width: 0px !important;
	width: 120px;
}

@media screen and (max-width: 767px) {
	.no-mobile {
		display: block;
		text-align: center;
		height: 100%;
		color: #fff;
	}
	.wrapper {
		display: none;
	}
} 

@media screen and (min-width: 768px) {
	.no-mobile {
		display: none;
	}
}


/* Planner Styles */
.planner-container {
	width: 100%;
	border-left: 2px solid #424875;
	border-right: 2px solid #424875;
	color: #fff;
	table-layout: fixed;
	font-family: 'Titillium Web', sans-serif;
}

.planner-container-content {
	border-top: hidden;
	border-bottom: hidden;
}

.planner-title {
	text-align: center;
	vertical-align: center;
	color: #fff;
	background-color: #424875;
	height: 30px;
	font-size: 18px;
}

.planner-mini-calendar {
	table-layout: fixed;
	text-align: center;
	border-collapse: collapse;
	border-style: hidden;
	font-size: 14px;
	width: 100%;
}

.planner-mini-cal-container {
	border-bottom: 1px solid #fff;
}

.planner-mini-calendar col {
	width: 14.2875%;
}

.planner-mini-calendar td {
	border: 1px solid #fff;
}

.planner-mini-calendar td:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #424875;
	cursor: pointer;
}

.planner-mini-calendar-active td {
	background-color: #fff;
	color: #000 !important;
	border: 1px solid #424875 !important;
}

.planner-mini-calendar-active td:hover {
	background-color: inherit;
	color: #fff !important;
	border: 1px solid #fff !important;
}

.planner-mini-calendar-inactive {
	color: #ABABAB;
	border-left: 1px solid #ABABAB !important;
	border-right: 1px solid #ABABAB !important;
}

/* Fixes border issue on first row last child */
.planner-mini-calendar-inactive-last {
	color: #ABABAB;
	border-right: 1px solid #fff !important;
}

.planner-layout-selectors div {
	width: 100%;
	padding-left: 3px;
}

.planner-layout-selectors button {
	font-size: 14px;
	width: 33%;
	padding: 5px 0px 5px 0px;
}

.planner-date-selectors {
	border-left: 1px solid #fff;
	padding: 0px 10px 0px 10px;
	line-height: 24px;
}

.planner-date-selectors div {
	float: left;
	text-align: left;
}

.planner-date-selectors-btn-group {
	padding-right: 10px;
}

.btn-date-selector {
	padding: 3px;
}

.btn-date-selector span {
	margin-bottom: 2px;
}

.planner-week-row td {
	border: 1px solid rgba(255,255,255,.3);
}

.planner-week-row {
	height: 103px;
	width: 100%;
}

.planner-week-category-container {
	color: #fff;
	font-size: 22px;
	text-align: center;
	vertical-align: center;
}

.planner-week-days {
	font-size: 16px;
	height: 40px;
	vertical-align: center;
	text-align: center;
}

.planner-week-top-content td {
	font-size: 16px;
	height: 40px;
}

.planner-week-days td {
	border: 1px solid #fff;
}

.planner-week-content {
	display: block;
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 514px;
}

.planner-week-row > td:not(:first-child) {
	vertical-align: top;
	text-align: left;
}

.planner-week-event-container {
	width: 100%;
	table-layout: fixed;
	border-collapse:separate; 
	border-spacing: 3px;
}

.planner-week-event-container > tr {
	height: 25%;
}

.planner-week-event-container td {
	border-style: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    line-height: 15px;
    width: 100%;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 5px;
}

.planner-week-event-container div {
	text-decoration: none;
	cursor: pointer;
	outline: none !important;
}

.planner-week-event-container td:hover {
    border: 2px solid rgba(0,0,0,0);
}

.planner-week-content:hover {
	overflow-y: auto;
}

.popover-content, .popover-title {
	color: #000;
}

.planner-week-bottom {
	border-bottom: 2px solid #424875;
}

.planner-week-bottom td {
	border: 1px solid #fff;
	padding: 10px;
}

.planner-week-bottom-content {
	font-size: 16px;
	vertical-align: top;
	text-align: left;
}

.planner-week-bottom-category {
	color: #fff;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
}

.planner-week-bottom-settings {
	vertical-align: top;
}

.planner-week-bottom-settings button, 
.planner-week-bottom-settings-settings {
	width: 100%;
	font-size: 16px;
}

.planner-week-bottom-settings-spacing {
	margin-top: 10px;
}

.planner-week-bottom-settings-settings {
	font-size: 20px;
	margin-left: 10px;
}

/* Extra Large Devices */
@media screen and (min-width: 1200px) {
	.planner-week-left-sidebar {
		width: 146px;
	}

	.planner-week-days-day {
		width: 142px;
	}

	.planner-week-bottom-content {
		width: 710px;
	}

	.planner-week-bottom-settings {
		width: 284px;
	}

	.planner-date-month-selector {
		width: 37%;
	}

	.planner-date-year-selector {
		width: 13%;
	}

	.planner-date-week-selector {
		width: 50%
	}
}

/* Large Devices */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.planner-week-left-sidebar {
		width: 150px;
	}

	.planner-week-days-day {
		width: 113px;
	}

	.planner-week-bottom-content {
		width: 565px;
	}

	.planner-week-bottom-settings {
		width: 226px;
	}

	.planner-date-month-selector {
		width: 35%;
	}

	.planner-date-year-selector {
		width: 17%;
	}

	.planner-date-week-selector {
		width: 48%
	}
}

/* Medium Devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.planner-week-left-sidebar {
		width: 146px;
	}

	.planner-week-days-day {
		width: 82px;
	}

	.planner-week-bottom-content {
		width: 410px;
	}

	.planner-week-bottom-settings {
		width: 164px;
	}

	.planner-date-month-selector {
		width: 34%;
	}

	.planner-date-year-selector {
		width: 23%;
	}

	.planner-date-week-selector {
		width: 43%
	}
}

.planner-category-color-1 {
 	background-color: #CC4040;
}

.planner-category-color-2 {
 	background-color: #AD2222;
}

.planner-category-color-3 {
 	background-color: #ED6969;
}

.planner-category-color-4 {
 	background-color: #19449E;
}

.planner-category-color-5 {
 	background-color: #10327B;
}

.planner-category-color-6 {
 	background-color: #2D75D9;
}

.planner-category-color-7 {
 	background-color: #32881B;
}

.planner-category-color-8 {
 	background-color: #1A6806;
}

.planner-category-color-9 {
 	background-color: #4CA135;
}

.planner-category-color-10 {
	background-color: #C9C444
}

.planner-category-color-11 {
	background-color: #A89500;
}

.planner-category-color-12 {
	background-color: #B17A00;
}

.planner-category-color-13 {
	background-color: #B46793;
}

.planner-category-color-14 {
	background-color: #0A6C65;
}

.planner-category-color-15 {
	background-color: #1C2335;
}

.category-creation-name-input {
	width: 150px;
}

.category-color-dropdown-button {
	width: 150px;
}

.category-order-dropdown-button {
	width: 150px;
}

.dropdown-menu-category-color {
	width: 150px;
}

.dropdown-menu-category-order {
	width: 150px;
}

.attribute-label {
	padding-right: 5px;
}

#ajax-create-category-modal {
	top: 25%;
	left: 44.25%;
	outline: none;
}

#ajax-create-category-modal .modal-dialog {
	width: 275px;
}

#create-category-error-message-container {
	margin-top: 10px;
}

#create-category-error-message-1 {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

#create-category-error-message-2 {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

#create-category-error-message-3 {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

#ajax-create-event-modal {
	top: 2%;
	left: 44.25%;
	outline: none;
}

#ajax-create-event-modal .modal-dialog {
	width: 290px;
}

.event-creation-name-input {
	width: 242px;
}

#event-creation-description-input {
	height: 86px;
	width: 242px;
	resize: none;
}

.event-parentCategory-dropdown-button {
	width: 242px;
}

.dropdown-menu-event-parentCategory {
	width: 242px;
}

input[type="checkbox"] {
	transform: scale(1.5);
}

.event-creation-important-input {
	width: 35px;
}

.event-creation-completed-input {
	width: 25px;
}

.event-timeEstimate-dropdown-button {
	width: 140px;
}

.dropdown-menu-event-timeEstimate {
	width: 140px;
}

#create-event-error-message-1 {
	display: inline;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

#create-event-error-message-2 {
	display: inline-block;
	background-color: #c43131;
	border: 5px solid;
	border-color: #c43131;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}


