{% extends 'base.html' %}
{% load staticfiles %}

{% block pageTitle %}About{% endblock %}

{% block content %}
    <block class="about">
        <div class="about-header">
            <div class="container">
                <h2>About YourToDo</h2><br>
                <p>Students at every level of education benefit from utilizing a more organized and streamlined workflow when it comes to day-to-day and weekly activities. While there exist many productivity tools across the software spectrum in today’s world, there are no tools that allow the categorization of tasks that can be grouped together and viewed in a more efficient manner.</p><br>

                <p>This problem can be solved with an application that allows students to create and manage their own planners specific to their class schedule, which is what we've made possible with our categorical based planner.</p><br>

                <p>YourToDo is the brainchild of Ben Davidson, who had been using a custom made table in a note keeping app to track his classes throughout the week. After proposing the idea to the team for our group project, we all decided it was worth the time and effort, and after a few long months, are pleased to present the final product. We hope you enjoy it!</p><br>
            </div>        
        </div>

        <div class="about-content bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>The Team</h2><br>
                    </div>

                    <div class="col-lg-12 about-bio-sep">
                        <img class="about-profile-pic img-circle" src="{% static 'img/about_page/jay-profile.jpg' %}" alt="Jay Offerdahl's Picture" />
                        <h3>Jay Offerdahl, Project Manager</h3>
                        <p>A junior computer science student at the University of Kansas in Lawrence, KS, his background is mainly in web development, which takes up most of his free time. He's also interested in space &amp; deep sea exploration, and aspires to work for NASA or SpaceX in the future.</p>

                        <p>Jay has previously worked for Garmin International as a software engineer intern, and has freelanced as a web developer for The Big Biscuit. Most recently, he's been focusing on the sixteen credit-hour semester that he's enrolled in.</p>

                        <p>His role at YourToDo is to provide guidance for the team and manage company documents, submissions, and client interactions, as well as code a little bit on the side.</p>
                    </div>

                    <div class="col-lg-12 about-bio-sep">
                        <img class="about-profile-pic img-circle" src="{% static 'img/about_page/ben-profile.jpg' %}" alt="Ben Davidson's Picture" />
                        <h3>Ben Davidson, Creator and Co-Project Manager </h3>
                        <p>Also a junior at the University of Kansas, Ben is studying computer science and minoring in business. His background is mostly in Java but he has most recently taken up web development, focusing in backend database correspondence. His interests span much of the computer science community and he hopes to aquire an internship with one of the many government agencies in Washington D.C. this coming summer.</p>

                        <p>Ben recently completed an internship with Lexmark Enterprise Software (formerly known as Perceptive Software) this summer in the Kansas City area. Currently, he is devoted to being a full-time student at KU this fall semester of 2015.</p>

                        <p>YourTodo was conceived by Ben and is now in the process of becoming an actual product through the help of colleagues Jay Offerdahl, Chad Papineau, and Wilson Hack.</p>
                    </div>                    
                    
                    <div class="col-lg-12 about-bio-sep">
                        <img class="about-profile-pic img-circle" src="{% static 'img/about_page/chad-profile.jpg' %}" alt="Chad Papineau's Picture" />
                        <h3>Chad Papineau, Full Stack Developer &amp; Business Solutions</h3>
                        <p>A junior at the University of Kansas seeking a B.S. in Computer Science and a Minor in Business. His intereset include web development, cyber security, and artificial intelligence.</p>

                        <p>This past summer he interned with H&amp;R Block's .com and myBlock teams. Throughout the course of his internship worked with the development and modernization of their W-4 Calculator to create it as a single page web application utilizing the AngularJS framework.</p>

                        <p>His role is to oversee the user interface design as wel as general full stack development.</p>

                        <p>Chad's responsibilities at YourToDo are primarily front-end development, but he also collaborates with the team on upper level business decisions.</p>
                    </div>

                    <div class="col-lg-12 about-bio-sep">
                        <img class="about-profile-pic img-circle" src="{% static 'img/about_page/wilson-profile.jpg' %}" alt="Wilson Hack's Picture" />
                        <h3>Wilson Hack, User Experience &amp; Business Solutions</h3>
                        <p>Wilson is studying Computer Science with a concentration in Computational Astronomy at the University of Kansas. He previously worked as a Software Engineer Intern for Bentley Systems, where he built a database management tool for Microsoft Azure storage.</p>

                        <p>Currently, he works as a Student Consultant for Jayhawk Consulting in the School of Business and a Business Analyst Intern at the BTBC. Wilson also holds leadership positions for both ACM and KU Club Golf. Outside of the classroom, he is a fitness enthusiast and aspiring entrepreneur.</p>

                        <p>Wilson's role at YourToDo is to oversee the user experience team, in order to ensure that our software is as easy to use as possible. He also helps with upper level business decisisons.</p>

                    </div>
                </div>
            </div>        
        </div>
    </block>
{% endblock %}