{% extends 'base.html' %}

{% block pageTitle %}Contact{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-contact">
            <br><br><br>
            <div class="row">
                <div class="form-contact-text col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2>Send us a message</h2>
                    <br>
                    <p>Here at YourToDo, we're always interested in your feedback. Feel free to tell us about anything!</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form action="/contact/" method="post">{% csrf_token %}
                        {{ form.name }}
                        {{ form.name.errors }}
                        <br>

                        {{ form.sender }}
                        {{ form.sender.errors }}
                        <br>

                        {{ form.subject }}
                        {{ form.subject.errors }}
                        <br>

                        {{ form.message }}
                        {{ form.message.errors }}
                        <br>
                        <input type="submit" class="btn btn-success submit" id="confirm_registration" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}