<!-- Event Update Modal -->
<div id="ajax-update-event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajax-update-event-modal-label">
    <div class = "modal-dialog">
        <div class = "modal-content">
             <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                <h4 class = "modal-title" id = "ajax-update-event-modal-label">
                   Update Event
                </h4>
             </div>
             <div class = "modal-body">
                <h4>Update Event Information:</h4>
                <p>
                    {% if returnEvent %}
                        <label for="event-name">Name: (required)</label><input class="form-control event-update-name-input" type="text" value="{{ returnEvent.get_name }}">
                    {% else %}
                        <label for="event-name">Name: (required)</label><input class="form-control event-update-name-input" type="text">
                    {% endif %}
                </p>
                <p>
                    <label for="event-parentCategory">This currently belongs to: (required)</label>
                    <div id="event-parentCategory-dropdown" class="dropdown">
                        {% if returnEvent %}
                            <button href="#event-parentCategory-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-parentCategory-dropdown-button"><span class="attribute-label">{{ returnEvent.get_parentCategory.get_name }}</span><span class="caret"></span></button>
                        {% else %}
                            <button href="#event-parentCategory-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-parentCategory-dropdown-button"><span class="attribute-label">Event's Category</span><span class="caret"></span></button>
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-event-parentCategory">
                            {% if categoriesInPlanner|length == 0 %}
                                <li><a href="#">Make a new category!</a></li>
                            {% else %}
                                {% for category in categoriesInPlanner %}
                                    <li><a href="#">{{ category.get_name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </p>
                <p> 
                    <label for="event-description">Description (optional):</label>
                    <p>
                    {% if returnEvent %}
                        <textarea name="event-description" id="event-update-description-input">{{ returnEvent.get_description }}</textarea>
                    {% else %}
                        <textarea name="event-description" id="event-update-description-input"></textarea>
                    {% endif %}
                    <p>
                </p>
                <p id="retrieve-event-id">
                    {% if returnEvent %}
                        <label for=".event-update-date-input">Date of Event: (required)<input class="form-control event-update-date-input" type="date" id="{{ returnEvent.get_event_id }}" value="{{ returnEvent.get_dateOfEvent_forHTML }}"></label>
                    {% else %}
                        <label for=".event-update-date-input">Date of Event: (required)<input class="form-control event-update-date-input" type="date"></label>
                    {% endif %}
                </p>
                <p>
                    <label for="event-timeEstimate">Time Estimate (optional):</label>
                    <div id="event-timeEstimate-dropdown" class="dropdown">
                        {% if returnEvent %}
                            <button href="#event-timeEstimate-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-timeEstimate-dropdown-button"><span class="attribute-label">{{ returnEvent.get_timeEstimate_forHTML }}</span><span class="caret"></span></button>
                        {% else %}
                            <button href="#event-timeEstimate-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-timeEstimate-dropdown-button"><span class="attribute-label">Time Estimate</span><span class="caret"></span></button>
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-event-timeEstimate">
                            <li><a href="#">None</a></li>
                            <li><a href="#">15 minutes</a></li>
                            <li><a href="#">30 minutes</a></li>
                            <li><a href="#">45 minutes</a></li>
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#">2 hours</a></li>
                            <li><a href="#">3 hours</a></li>
                            <li><a href="#">4 hours</a></li>
                            <li><a href="#">5 hours</a></li>
                            <li><a href="#">6 hours</a></li>
                            <li><a href="#">7 hours</a></li>
                            <li><a href="#">8 hours</a></li>
                            <li><a href="#">More than 8 hours</a></li>
                        </ul>
                    </div>
                </p>
                <p>
                    {% if returnEvent %}
                        {% if returnEvent.get_timeStart != None %}
                            <label for=".event-update-startTime-input">Start Time (optional):<input class="form-control event-update-startTime-input" type="time" value="{{ returnEvent.get_timeStart_forHTML }}"></label>
                        {% else %}
                            <label for=".event-update-startTime-input">Start Time (optional):<input class="form-control event-update-startTime-input" type="time"></label>
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if returnEvent %}
                        {% if returnEvent.get_timeEnd != None %}
                            <label for=".event-update-endTime-input">End Time (optional):<input class="form-control event-update-endTime-input" type="time" value="{{ returnEvent.get_timeEnd_forHTML }}"></label>
                        {% else %}
                            <label for=".event-update-endTime-input">End Time (optional):<input class="form-control event-update-endTime-input" type="time"></label>
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if returnEvent %}
                        {% if returnEvent.get_important == True %}
                            <label for=".event-update-important-input">Important:<input class="form control event-update-important-input" type="checkbox" checked></label> 
                        {% else %}
                            <label for=".event-update-important-input">Important:<input class="form control event-update-important-input" type="checkbox"></label> 
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if returnEvent %}
                        {% if returnEvent.get_complete == True %}
                            <label for=".event-update-complete-input">Completed:<input class="form control event-update-complete-input" type="checkbox" checked></label>
                        {% else %}
                            <label for=".event-update-complete-input">Completed:<input class="form control event-update-complete-input" type="checkbox"></label>
                        {% endif %}
                    {% endif %}
                </p>
                <div>
                    <br>
                    <p id="update-event-error-message-1" style="display:none">
                        <span id='event-creation-error'>Invalid new event information</span>
                    </p>
                    <p id="update-event-error-message-2" style="display:none">
                        <span id='event-creation-error'>An event cannot have only a start time/only an end time</span>
                    </p>
                </div>
             </div>
             <div class = "modal-footer">
                <button type="button" id="update-event-delete-button" class="btn btn-default" data-dismiss="modal">
                    Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                   Cancel
                </button>
                <button type ="button" class ="btn btn-success" id="update-event-submit">
                   Update
                </button>
             </div>
        </div>
    </div>
</div>

<script>

    $(function(){
        $(".update-event-modal-button").unbind().click(function(){

            var clickedEventId = this.id;

            $.ajax({
                url: "/load-event-update-modal/",
                type: "POST",
                dataType: 'html',
                data:
                {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    desiredEventToUpdateId: clickedEventId
                },
                success: function(data, textStatus, jqXHR) {
                    $('#inject-event-update-modal').empty().append(data);
                    $('#ajax-update-event-modal').modal('toggle');
                },
            });
            
        });
    });

    $(function(){
        $("#update-event-delete-button").unbind().click(function(){

            var eventToDeleteId = $('#retrieve-event-id input').attr('id');

            $.ajax({
                url: "/delete-event/",
                type: "POST",
                dataType: 'html',
                data:
                {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    ajax_desired_event_to_delete: eventToDeleteId
                },
                success: function(data, textStatus, jqXHR) {
                    $('#ajax-update-event-modal').modal('hide');
                    $('.modal-backdrop').remove();
                    changeViewDate("NONE");
                },
            });
        });
    });

    // Event Drop Down Menu Function - replaces default value with user-specified value
    $(function(){

        $(".dropdown-menu-event-parentCategory li a").click(function(){

          $(this).parents('#event-parentCategory-dropdown').find('.btn').html('<span class="attribute-label">' + $(this).text() +'</span></span><span class="caret"></span>');
        });

        $(".dropdown-menu-event-timeEstimate li a").click(function(){

            $(this).parents('#event-timeEstimate-dropdown').find('.btn').html('<span class="attribute-label">' + $(this).text() +'</span></span><span class="caret"></span>');
        });

    });

    // Handles event update AJAX form submission and validates form before .ajax call
    $('#update-event-submit').click(function(){
        var eventName = $('.event-update-name-input').val();
        var eventId = $('#retrieve-event-id input').attr('id');

        var eventParentCategory = $('.event-parentCategory-dropdown-button').text();
        eventParentCategory = eventParentCategory.replace("Event's Category", "");

        var eventDescription = $('#event-update-description-input').val();
        var eventDate = $('.event-update-date-input').val();

        var eventTimeEstimate = $('.event-timeEstimate-dropdown-button').text();
        eventTimeEstimate = eventTimeEstimate.replace("Time Estimate", "");

        var eventStartTime = $('.event-update-startTime-input').val();
        var eventEndTime = $('.event-update-endTime-input').val();
        var eventImportant = $('.event-update-important-input').is(":checked");
        var eventComplete = $('.event-update-complete-input').is(":checked");

        var validForm = true;
        
        if (eventTimeEstimate == "Time Estimate")
        {
            eventTimeEstimate = "None";
        }

        if ((eventStartTime != "" && eventEndTime == "") || (eventStartTime == "" && eventEndTime != ""))
        {
            $('#update-event-error-message-1').hide();
            $('#update-event-error-message-2').show();
            validForm = false;
        }

        if (eventName.length == 0 || eventParentCategory == "" || eventDate == "" || eventParentCategory == "Event's Category")
        {
            $('#update-event-error-message-2').hide();
            $('#update-event-error-message-1').show();
            validForm = false;
        }

        if (eventName.length != 0 && eventParentCategory != "" && eventDate != "" && validForm != false)
        {
            $('#update-event-error-message-2').hide();
            $('#update-event-error-message-1').hide();
            validForm = true;
        }

        if (validForm == true)
        {
            $.ajax({
                url: "/update-event/",
                type: "POST",
                dataType: 'html',
                data:
                {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    ajax_event_name: eventName,
                    ajax_event_id: eventId,
                    ajax_event_parentCategory: eventParentCategory,
                    ajax_event_description: eventDescription,
                    ajax_event_date: eventDate,
                    ajax_event_timeEstimate: eventTimeEstimate,
                    ajax_event_startTime: eventStartTime,
                    ajax_event_endTime: eventEndTime,
                    ajax_event_important: eventImportant,
                    ajax_event_complete: eventComplete
                },
                success: function(data, textStatus, jqXHR) {
                    $('#ajax-update-event-modal').modal('hide');
                    $('.modal-backdrop').remove();
                    changeViewDate("NONE");
                },
                error: function() {

                },

            });
        }
    });

    // Handles reseting the event update modal on close or update (potentially unnecessary for update)
    $('#ajax-update-event-modal').on('hidden.bs.modal', function(){
        $('.event-update-name-input').val("");
        $('.event-parentCategory-dropdown-button').html("<span class='attribute-label'>Event's Category</span><span class='caret'></span>");
        $('#event-update-description-input').val("");
        $('.event-update-date-input').val("");
        $('.event-timeEstimate-dropdown-button').html("<span class='attribute-label'>Time Estimate</span><span class='caret'></span>");
        $('.event-update-startTime-input').val("");
        $('.event-update-endTime-input').val("");
        $('.event-update-important-input').prop("checked", false);
        $('#update-event-error-message-1').hide();
        $('#update-event-error-message-2').hide();
    });

</script>