<!-- Event Creation Modal -->
<div id="ajax-create-event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajax-create-event-modal-label">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                <h4 class = "modal-title" id = "ajax-create-event-modal-label">
                   Create New Event
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p>
                            <label for="event-name">Name: (required)</label><input class="form-control event-creation-name-input" type="text">
                        </p>
                        <p>
                            <label for="event-parentCategory">Select category for event: (required)</label>
                            <div id="create-event-parentCategory-dropdown" class="dropdown">
                                <button href="#create-event-parentCategory-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-parentCategory-dropdown-button"><span class="attribute-label">Event's Category</span><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-create-event-parentCategory">
                                    {% if categoriesInPlanner|length == 0 %}
                                        <li><a href="#">Make a new category!</a></li>
                                    {% else %}
                                        {% for category in categoriesInPlanner %}
                                            <li><a href="#">{{ category.get_name }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </p>
                        <p> 
                            <label for="event-description">Description (optional):</label>
                            <p>
                            <textarea name="event-description" id="event-creation-description-input"></textarea>
                            </p>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p>
                            <label for=".event-creation-date-input">Date of Event: (required)</label><input class="form-control event-creation-date-input" type="date">
                        </p>
                        <p>
                            <label for="event-timeEstimate">Time Estimate (optional):</label>
                            <div id="create-event-timeEstimate-dropdown" class="dropdown">
                                <button href="#create-event-timeEstimate-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle create-event-timeEstimate-dropdown-button"><span class="attribute-label">Time Estimate</span><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-create-event-timeEstimate">
                                    <li><a href="#">None</a></li>
                                    <li><a href="#">15 minutes</a></li>
                                    <li><a href="#">30 minutes</a></li>
                                    <li><a href="#">45 minutes</a></li>
                                    <li><a href="#">1 hour</a></li>
                                    <li><a href="#">2 hours</a></li>
                                    <li><a href="#">3 hours</a></li>
                                    <li><a href="#">4 hours</a></li>
                                    <li><a href="#">5 hours</a></li>
                                    <li><a href="#">6 hours</a></li>
                                    <li><a href="#">7 hours</a></li>
                                    <li><a href="#">8 hours</a></li>
                                    <li><a href="#">More than 8 hours</a></li>
                                </ul>
                            </div>
                        </p>
                        <p>
                            <label for=".event-creation-startTime-input">Start Time (optional):</label><input class="form-control event-creation-startTime-input" type="time">
                        </p>
                        <p>
                            <label for=".event-creation-endTime-input">End Time (optional):</label><input class="form-control event-creation-endTime-input" type="time">
                        </p>
                        <p>
                            <label for=".event-creation-important-input">Important:<input class="event-creation-important-input" type="checkbox"></label> 
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    <label for=".event-creation-repeat-input">Recurring:</label><input class="event-creation-repeat-input" type="checkbox">
                        <div id="create-event-repeat-options-container" style="display:none">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-layout-selector" id="button-repeat-daily">Daily</button>
                                <button type="button" class="btn btn-default btn-layout-selector" id="button-repeat-weekly">Weekly</button>
                                <button type="button" class="btn btn-default btn-layout-selector" id="button-repeat-monthly">Monthly</button>
                                <button type="button" class="btn btn-default btn-layout-selector" id="button-repeat-yearly">Yearly</button>
                            </div>
                            <p>
                                <div id="repeat-options" style="display:none">
                                    Repeat every 
                                    <div id="create-event-repeat-occurance-number-dropdown" class="dropdown">
                                        <button href="#create-event-repeat-occurance-number-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle create-event-repeat-event-occurance-dropdown-button"><span id="create-event-repeat-occurance-number-label" class="attribute-label">--</span><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-create-event-repeat-occurance-number">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">7</a></li>
                                            <li><a href="#">8</a></li>
                                            <li><a href="#">9</a></li>
                                            <li><a href="#">10</a></li>
                                            <li><a href="#">11</a></li>
                                            <li><a href="#">12</a></li>
                                            <li><a href="#">13</a></li>
                                            <li><a href="#">14</a></li>
                                            <li><a href="#">15</a></li>
                                            <li><a href="#">16</a></li>
                                            <li><a href="#">17</a></li>
                                            <li><a href="#">18</a></li>
                                            <li><a href="#">19</a></li>
                                            <li><a href="#">20</a></li>
                                            <li><a href="#">21</a></li>
                                            <li><a href="#">22</a></li>
                                            <li><a href="#">23</a></li>
                                            <li><a href="#">24</a></li>
                                            <li><a href="#">25</a></li>
                                            <li><a href="#">26</a></li>
                                            <li><a href="#">27</a></li>
                                            <li><a href="#">28</a></li>
                                            <li><a href="#">29</a></li>
                                            <li><a href="#">30</a></li>
                                        </ul> 
                                    </div>
                                    <span id="daily-repeat-options" style="display:none">
                                        days
                                    </span>
                                    <span id="weekly-repeat-options" style="display:none">
                                        weeks
                                    </span>
                                    <span id="monthly-repeat-options" style="display:none">
                                        months
                                    </span>
                                    <span id="yearly-repeat-options" style="display:none">
                                        years
                                    </span>
                                </div>
                            </p>
                            <div id="create-event-weekly-repeat-choice-container" style="display:none">
                                <p class="custom-options-spacing">
                                </p>
                                <p>
                                    <label>Weekdays</label><input id="event-creation-weekdays-checkbox" class="event-creation-weekly-repeat-choice" type="checkbox">
                                    <br>
                                    <label>Monday, Wednesday, Friday</label><input id="event-creation-mwf-checkbox" class="event-creation-weekly-repeat-choice" type="checkbox">
                                    <br>
                                    <label>Tuesday, Thursday</label><input id="event-creation-tr-checkbox" class="event-creation-weekly-repeat-choice" type="checkbox">
                                    <br>
                                    or choose custom days:
                                    <br>
                                    <label class="event-creation-day-label">S</label><input id="event-creation-week-day-choice-sunday" type="checkbox">
                                    <label class="event-creation-day-label">M</label><input id="event-creation-week-day-choice-monday" type="checkbox">
                                    <label class="event-creation-day-label">T</label><input id="event-creation-week-day-choice-tuesday" type="checkbox">
                                    <label class="event-creation-day-label">W</label><input id="event-creation-week-day-choice-wednesday" type="checkbox">
                                    <label class="event-creation-day-label">T</label><input id="event-creation-week-day-choice-thursday" type="checkbox">
                                    <label class="event-creation-day-label">F</label><input id="event-creation-week-day-choice-friday" type="checkbox">
                                    <label class="event-creation-day-label">S</label><input id="event-creation-week-day-choice-saturday" type="checkbox">
                            </div>
                            <div id="create-event-monthly-repeat-choice-container" style="display:none">
                                <p class="custom-options-spacing">
                                </p>
                                <label>Repeat same day next month</label><input id="event-creation-same-day-next-month-checkbox" type="checkbox"><label>&nbsp;&nbsp;(default)</label>
                                <label>Repeat same day of the week next month</label><input id="event-creation-same-day-week-next-month-checkbox" type="checkbox">
                            </div>
                            <p id="event-creation-recurrence-explanation" style="display:none">
                            </p>
                            <p class="event-creation-recurrence-duration" style="display:none">
                                <span style="font-weight: bold">Recurrence Ends:</span><br>
                                <input id="event-creation-recurrence-duration-never" type="radio" name="recurrence-option"> Never<br>
                                <p class="custom-duration-options-spacing"></p>
                                <span class="event-creation-recurrence-duration" style="display:none">
                                    <input id="event-creation-recurrence-duration-amount-radio" type="radio" name="recurrence-option">
                                    After
                                    <input class="input-disabled" id="event-creation-recurrence-duration-amount-text" type="text"> occurances<br>
                                </span>
                                <p class="custom-duration-options-spacing"></p>
                                <span class="event-creation-recurrence-duration" style="display:none">
                                    <input id="event-creation-recurrence-duration-date-radio" type="radio" name="recurrence-option">
                                    On
                                    <input class="input-disabled" id="event-creation-recurrence-duration-date-date" type="date">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <p id="create-event-error-message-1" style="display:none">
                        Invalid new event information
                    </p>
                    <p id="create-event-error-message-2" style="display:none">
                        An event cannot have only a start time/only an end time
                    </p>
                </div>
             </div>
             <div class = "modal-footer">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                   Cancel
                </button>
                <button type ="button" class ="btn btn-success" id="create-event-submit">
                   Create
                </button>
             </div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'js/new_event_modal.js' %}"></script>
</div>
