<div class="planner-month-content">
    <table class="planner-container-content planner-month-content-container">
        <!-- Column Specification: 7 days, right sidebar -->
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-right-sidebar">

        {% for day, date in information %}
            {% if forloop.counter0|divisibleby:7 %}
            <tr class="planner-month-row">
            {% endif %}
                <td class="planner-month-day">
                    <table>
                        <tr>
                            <td>
                                {{ date }}
                            </td>
                        </tr>
                        {% for event in day %}
                        <tr>
                            <td>
                                {{ event.get_name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            {% if forloop.counter|divisibleby:7 %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>