<div class="planner-day-content">
    <table class="planner-container planner-container-content">
        <!-- Column Specification: Left sidebar, 7 days -->
        <col class="planner-week-left-sidebar">
        <col class="planner-day-time-table">
        <col class="planner-day-event-container">
        <col class="planner-month-sidebar">
        <tr>
            <!-- Categories Legend -->
            <td class="planner-day-left-sidebar">
                {% for category in categoriesInPlanner %}
                <div class="planner-month-category-legend planner-category-color-{{ category.get_color }}">
                    <button type="button" class="update-category-modal-button" id="{{ category.get_category_id }}">
                        <span id="week-planner-category-names">{{ category.get_name }}</span>
                    </button>
                </div>
                {% endfor %}
            </td>

            <!-- Time Bar (vertical) -->
            <td>
                <table class="planner-day-content-table time-table">
                    {% for time in timeBlocks %}
                    <tr><td>{{ time }}</td></tr>
                    {% endfor %}
                </table>
            </td>

            <!-- Event Container -->
            <td>
                <table class="planner-day-content-table event-table">
                    {% for event, duration in timedEvents %}
                        {% if duration > 0 %}
                        <tr>
                            <td rowspan="{{ duration }}">
                                <div class="update-event-modal-button planner-day-timed-event" id="{{ event.get_event_id }}" style="height: 100%">
                                    <span class="planner-category-color-{{ event.get_parentCategory.get_color }}" id="planner-day-event-{{ event.get_event_id }}">
                                        {{ event.get_timeStart }} - {{ event.get_name }}
                                    </span>
                                </div>
                            </td>
                            {% for row in duration|make_list %}
                                {% if forloop.first %}
                                {% else %}
                                </tr><tr><td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% else %}
                        <tr><td></td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>

            <!-- Right Sidebar -->
            <td>
                <table class="planner-day-right-sidebar"> 
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Tasks for Today
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-day-info">
                        <td class="no-padding">
                            <div id="all-day-events-list" class="padding-5">
                                {% for event in allDayEvents %}
                                <div class="important-and-upcoming-event update-event-modal-button" id="{{ event.get_event_id }}">
                                    <span class="planner-category-color-{{ event.get_parentCategory.get_color }} important-and-upcoming-event-span">
                                        {{ event.get_parentCategory.get_name }}: {{ event.get_name }}
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Important &amp; Upcoming
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-day-info">
                        <td class="no-padding">
                            <div id="important-and-upcoming-list">
                            </div>
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Recently Completed
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-day-info">
                        <td class="no-padding">
                            <div id="recently-completed-list">
                            </div>
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-category">
                        <td class="planner-bottom-settings planner-day-settings padding-10">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ajax-create-event-modal">New Event</button>
                            <button type="button" class="btn btn-default planner-week-bottom-settings-spacing" data-toggle="modal" data-target="#ajax-create-category-modal">New Category</button><br>

                            <a href="/user-account-information/" id="settings-day-week-month-button">
                            <span class="glyphicon glyphicon-cog"></span><span class="planner-month-bottom-settings">Settings</span></a>
                        </td> 
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>