<div class="planner-month-content">
    <table class="planner-container-content planner-month-content-container">
        <!-- Column Specification: 7 days, right sidebar -->
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-right-sidebar">

        <tr class="planner-month-content-days">
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
            <td class="planner-month-sidebar" rowspan="7">
                <table> 
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Important &amp; Upcoming
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-month-info">
                        <td class="no-padding">
                            <div id="important-and-upcoming-list">
                            </div>
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Recently Completed
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-month-info">
                        <td class="no-padding">
                            <div id="recently-completed-list">
                            </div>
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-category">
                        <td>
                            Categories
                        </td>
                    </tr>
                    <tr class="planner-month-sidebar-info planner-month-categories">
                        <td>
                            {% for category in categoriesInPlanner %}
                            <div class="planner-month-category-legend planner-category-color-{{ category.get_color }}">
                                <button type="button" class="update-category-modal-button" id="{{ category.get_category_id }}">
                                    <span id="week-planner-category-names">{{ category.get_name }}</span>
                                </button>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        {% for dayTimed, dayUntimed, date, class in information %}
            {% if forloop.counter0|divisibleby:7 %}
            <tr class="planner-month-row">
            {% endif %}
                <td class="planner-month-day">
                    <table class="planner-month-event-container">
                        <tr>
                            <td class="{{ class }} planner-month-date">
                                {{ date }}
                            </td>
                        </tr>
                        {% for event in dayTimed %}
                        <tr>
                            <td class="planner-category-color-{{ event.get_parentCategory.get_color }} event">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                    {% if event.get_complete %}
                                    <span class="completed-event-overlay icon-pad-small"></span>
                                    {% elif event.get_timeEnd != None %}
                                    <span class="timed-event-overlay icon-pad-small"></span>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for event in dayUntimed %}
                        <tr>
                            <td class="planner-category-color-{{ event.get_parentCategory.get_color }} event">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                    {% if event.get_complete %}
                                    <span class="completed-event-overlay icon-pad-small"></span>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            {% if forloop.counter|divisibleby:7 %}
            </tr>
            {% endif %}
        {% endfor %}

        <script>
            hideOverflowEvents("MONTH");
        </script>
    </table>

    <!-- Bottom Content -->
    <table class="planner-container planner-month-bottom">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-sidebar">

        <tr>
            <td class="planner-month-bottom-category">
                Notes
            </td>
            <td class="planner-week-bottom-content-planner-notes" colspan="6">
                <div id="edit-planner-button-container">
                <button type="button" class="btn btn-default" id="edit-planner-misc-notes-button">Edit</button>
                </div>
                <span id="planner-misc-notes"></span>
            </td>
            <td class="planner-bottom-settings">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ajax-create-event-modal">New Event</button>
                <button type="button" class="btn btn-default planner-week-bottom-settings-spacing" data-toggle="modal" data-target="#ajax-create-category-modal">New Category</button><br>

                <a href="/user-account-information/" id="settings-day-week-month-button">
                <span class="glyphicon glyphicon-cog"></span><span class="planner-month-bottom-settings">Settings</span></a>
            </td>
        </tr>
    </table>
</div>