<div class="planner-week-content">
    <table class="planner-container planner-container-content">
        <!-- Column Specification: Left sidebar, 7 days -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        {% for category in categoriesInPlanner %}
        <tr class="planner-week-row">
            <td class="planner-week-category-container planner-category-color-{{ category.get_color }}">
                {{ category.get_name }}
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewStartDate %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div>
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Event 1
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Event 2
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Extra Event
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Fight Ben
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Fight Kinnersbag
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Fight some random dude
                        </td>
                    </tr>
                    <tr>
                        <td class="planner-category-color-{{ category.get_color }}">
                            Go to Lab
                        </td>
                    </tr>
                </table>
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewSecondDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewThirdDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewFourthDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewFifthDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewSixthDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td class="planner-week-event-block">
                {% for event in eventsInViewEndDate %}
                    {% if event.get_parentCategory == category %}
                        {{ event.get_name }}
                    {% endif %}
                {% endfor %}
            </td>     
        </tr>
        {% endfor %}

        <script>
            hideOverflowEvents();
        </script>
    </table>
</div>