<div class="planner-week-content">
    <table class="planner-container planner-container-content">
        <!-- Column Specification: Left sidebar, 7 days -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        {% if categoriesInPlanner|length == 0 %}
            <tr class="planner-week-row">
                <td class="planner-week-category-container">
                    <button class="btn-default" id="create-new-category-placeholder" data-toggle="modal" data-target="#ajax-create-category-modal">
                        <span class="week-planner-category-names">Add New Category <br>+</span>
                    </button>
                </td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
                <td class="planner-week-event-block"></td>
            </tr>
        {% endif %}
        {% for category in categoriesInPlanner %}
        <tr class="planner-week-row">

            <td class="planner-week-category-container planner-category-color-{{ category.get_color }}">
                <button type="button" class="update-category-modal-button" id="{{ category.get_category_id }}">
                    <span id="week-planner-category-names">{{ category.get_name }}</span>
                </button>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewStartDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewStartDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewSecondDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewSecondDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewThirdDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewThirdDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewFourthDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewFourthDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewFifthDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewFifthDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewSixthDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewSixthDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td class="planner-week-event-block">
                <table class="planner-week-event-container">
                    {% for event in eventsInViewEndDateWithTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for event in eventsInViewEndDateWithoutTimeBox %}
                        {% if event.get_parentCategory == category %}
                        <tr>
                            <td class="planner-category-color-{{ category.get_color }}">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>     
        </tr>
        {% endfor %}

        <script>
            hideOverflowEvents("WEEK");
        </script>
    </table>
</div>

