<div class="planner-month-content">
    <table class="planner-container-content planner-month-content-container">
        <!-- Column Specification: 7 days, right sidebar -->
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-day">
        <col class="planner-month-right-sidebar">

        <tr class="planner-month-content-days">
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
        </tr>

        {% for day, date, class in information %}
            {% if forloop.counter0|divisibleby:7 %}
            <tr class="planner-month-row">
            {% endif %}
                <td class="planner-month-day">
                    <table class="planner-month-event-container">
                        <tr>
                            <td class="{{ class }} planner-month-date">
                                {{ date }}
                            </td>
                        </tr>
                        {% for event in day %}
                        <tr>
                            <td class="planner-category-color-{{ event.get_parentCategory.get_color }} event">
                                <div class="update-event-modal-button" id="{{ event.get_event_id }}">
                                    {{ event.get_name }}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            {% if forloop.counter|divisibleby:7 %}
            </tr>
            {% endif %}
        {% endfor %}

        <script>
            hideOverflowEvents("MONTH");
        </script>
    </table>
</div>

<table class="planner-month-sidebar"> 
    <tr class="planner-month-sidebar-category">
        <td>
            Important &amp; Upcoming
        </td>
    </tr>
    <tr class="planner-month-sidebar-info">
        <td>
            <div id="important-and-upcoming-list">
            </div>
        </td>
    </tr>
    <tr class="planner-month-sidebar-category">
        <td>
            Recently Completed
        </td>
    </tr>
    <tr class="planner-month-sidebar-info">
        <td>
            Events that you have recently marked as 'completed' will show up here.
        </td>
    </tr>
    <tr class="planner-month-sidebar-category">
        <td>
            Categories
        </td>
    </tr>
    <tr class="planner-month-sidebar-info">
        <td>
            {% for category in categoriesInPlanner %}
            <div class="planner-month-category-legend planner-category-color-{{ category.get_color }}">
                <button type="button" class="update-category-modal-button" id="{{ category.get_category_id }}">
                    <span id="week-planner-category-names">{{ category.get_name }}</span>
                </button>
            </div>
            {% endfor %}
        </td>
    </tr>
</table>

<span id="inject-event-update-modal"></span>
<span id="inject-category-update-modal"></span>