<div class="container">

    <!-- Table containing top content (could potentially be used for all views) -->
    <table class="planner-container">
        <!-- Column Specification: Left sidebar, 7 days -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">

         <!-- Top Row: Mini Calendar/Title -->
        <tr>
            <!-- Mini Calendar -->
            <td rowspan="3" id="planner-mini-calendar" class="planner-mini-cal-container">
            </td>
            <!-- Planner Title #TODO Let users name their own titles -->
            <td class="planner-title" colspan="7">
                {{ planner.get_name }}'s Planner
            </td>
        </tr><!-- End Top Row -->

        <!-- Top content -->
        <tr class="planner-week-top-content">
            <td class="planner-date-selectors" colspan="5">
                <!-- #TODO get the fucking chevrons to stay in the same spot -->
                <!-- Monthly dates (i.e. "< Nov. >") -->
                <div class="planner-date-month-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-month-selector"></span>
                </div>

                <!-- Weekly dates (i.e. "< 11/15 - 11/22 >") -->
                <div class="planner-date-week-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('WEEK', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('WEEK', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-week-selector"></span>
                </div>

                <!-- Years (i.e. "< 2015 >" ) -->
                <div class="planner-date-year-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-year-selector"></span>
                </div>
            </td>
            <td class="planner-layout-selectors" colspan="2">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-day" onclick="changeViewLayout('Day')">Day</button>
                    <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-week" onclick="changeViewLayout('Week')">Week</button>
                    <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-month" onclick="changeViewLayout('Month')">Month</button>
                </div>
            </td>
        </tr>
        
        <!-- Days List -->
        <tr class="planner-week-days">
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thurday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr><!-- End Top Content -->
    </table>

    <!-- TODO: Add custom scrollbars that don't look awful -->
    {% csrf_token %}
    <span id="events-in-week-view"></span>
    <!-- Bottom Content -->
    <table class="planner-container planner-week-bottom">
        <!-- Column Specification: Left sidebar, large middle, medium side -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-bottom-content">
        <col class="planner-week-bottom-settings">

        <tr>
            <td class="planner-week-bottom-category">
                Important &amp; Upcoming
            </td>
            <td class="planner-week-bottom-content">
                Upcoming events that you have marked as important will appear here. (Change date range in settings.)
            </td>
            <td class="planner-week-bottom-settings" rowspan="2">
                <button type="button" class="btn btn-default">New Event</button>
                <button type="button" class="btn btn-default planner-week-bottom-settings-spacing" data-toggle="modal" data-target="#ajax-create-category-modal">New Category</button><br><br>

                <span class="glyphicon glyphicon-cog"></span><span class="planner-week-bottom-settings-settings">Settings</span>
            </td>
        </tr>

        <tr>
            <td class="planner-week-bottom-category">
                Notes
            </td>
            <td class="planner-week-bottom-content">
                {{ planner.get_miscellaneousNotes }}
            </td>
        </tr>
    </table>

    <!-- Category Creation Modal -->
    <div id="ajax-create-category-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajax-create-category-modal-label">
        <div class = "modal-dialog">
            <div class = "modal-content">
             
                 <div class = "modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                    
                    <h4 class = "modal-title" id = "ajax-create-category-modal-label">
                       Create New Category
                    </h4>
                 </div><!-- /modal header -->
                 
                 <div class = "modal-body">
                    <h4>New Category Information:</h4>
                    <p>
                        <label for="category-name">Name:</label><input class="form-control category-creation-name-input" type="text">
                    </p>
                    <p>
                        
                        <label for="category-color">Color:</label>
                        <div id="category-color-dropdown" class="dropdown">
                            
                            <button href="#category-color-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle category-color-dropdown-button "><span class="attribute-label">Choose Color</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-category-color">
                                <li><a href="#">Red</a></li>
                                <li><a href="#">Dark Red</a></li>
                                <li><a href="#">Light Red</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Dark Blue</a></li>
                                <li><a href="#">Light Blue</a></li>
                                <li><a href="#">Green</a></li>
                                <li><a href="#">Dark Green</a></li>
                                <li><a href="#">Light Green</a></li>
                                <li><a href="#">Yellow</a></li>
                                <li><a href="#">Gold</a></li>
                                <li><a href="#">Orange</a></li>
                                <li><a href="#">Pink</a></li>
                                <li><a href="#">Turquoise</a></li>
                                <li><a href="#">Navy</a></li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        <label for="category-order">Order:</label>
                        <div id="category-order-dropdown" class="dropdown">
                            <button href="#category-order-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle category-order-dropdown-button"><span class="attribute-label">Choose Order</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-category-order">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        <div id="create-category-error-message">

                        </div>
                    </p>
                 </div><!-- /modal body -->
                 
                 <div class = "modal-footer">
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                       Cancel
                    </button>
                    <button type ="button" class ="btn btn-success" id="create-category-submit">
                       Create
                    </button>
                 </div><!-- /modal footer -->
             
            </div><!-- /.modal-content -->
        </div>
    </div>

    <script>
        $(function(){

            $(".dropdown-menu-category-color li a").click(function(){

              $(".category-color-dropdown-button:first-child").text($(this).text());
              $(".category-color-dropdown-button:first-child").val($(this).text());

            });

            $(".dropdown-menu-category-order li a").click(function(){

              $(".category-order-dropdown-button:first-child").text($(this).text());
              $(".category-order-dropdown-button:first-child").val($(this).text());

            });

        });

        $('#create-category-submit').click(function(){
            var categoryName = $(".category-creation-name-input").val();
            var categoryColor = $(".category-color-dropdown-button").val();
            var categoryOrder = $(".category-order-dropdown-button").val();

            if (categoryColor == "" || categoryOrder == "")
            {
                $("#category-creation-error").remove();
                $("#create-category-error-message").append("<span id='category-creation-error'>Invalid color and/or order selection</span>");  
            }

            if (categoryColor != "" && categoryOrder != "")
            {
                $("#category-creation-error").remove();
            }
            
        });

    </script>

</div>

