<div class='container'>
	DAY VIEW
	<td class="planner-layout-selectors" colspan="2">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-layout-selector active" id="btn-layout-day" onclick="changeViewLayout('Day')">Day</button>
            <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-week" onclick="changeViewLayout('Week')">Week</button>
            <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-month" onclick="changeViewLayout('Month')">Month</button>
        </div>
    </td>
</div>