<div class="container">
    <table class="planner-container">
        <!-- Column Specification: Planner Month Content, Right Sidebar -->
        <col class="planner-month-content-container">
        <col class="planner-month-right-sidebar">

        <!-- Top Row: Title -->
        <tr>
            <!-- Planner Title -->
            <td class="planner-title" colspan="2">
                {{ planner.get_name }}'s Planner
            </td>
        </tr><!-- End Top Row -->

        <!-- Top content: Date Selectors, layout selectors -->
        <tr class="planner-top-content">
            <td class="planner-date-selectors">
                <!-- Today Button -->
                <div class="planner-date-today-selector planner-month">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('TODAY')">Today</button>
                    </div>
                </div>

                <!-- Monthly dates (i.e. "< > Nov.") -->
                <div class="planner-date-month-selector planner-month">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-month-selector"></span>
                </div>

                <!-- Years (i.e. "< > 2015" ) -->
                <div class="planner-date-year-selector planner-month">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-year-selector"></span>
                </div>
            </td>
            <td class="planner-layout-selectors">
		        <div class="btn-group" role="group">
		            <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-day" onclick="changeViewLayout('Day')">Day</button>
		            <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-week" onclick="changeViewLayout('Week')">Week</button>
		            <button type="button" class="btn btn-default btn-layout-selector active" id="btn-layout-month" onclick="changeViewLayout('Month')">Month</button>
		        </div>
		    </td>
        </tr>
    </table>

    <!-- TODO: Move this html to ajax_events_in_month_view or something -->
	<span id="events-in-month-view"></span>

    <!-- Bottom Content -->
    <table class="planner-container planner-month-bottom">
        <col class="planner-month-bottom-category">
        <col class="planner-month-bottom-content">
        <col class="planner-month-bottom-settings">

        <tr>
            <td class="planner-month-bottom-category">
                Notes
            </td>
            <td class="planner-week-bottom-content-planner-notes">
                <div id="edit-planner-button-container">
                <button type="button" class="btn btn-default" id="edit-planner-misc-notes-button">Edit</button>
                </div>
                <span id="planner-misc-notes"></span>
            </td>
            <td class="planner-bottom-settings">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ajax-create-event-modal">New Event</button>
                <button type="button" class="btn btn-default planner-week-bottom-settings-spacing" data-toggle="modal" data-target="#ajax-create-category-modal">New Category</button><br>

                <span class="glyphicon glyphicon-cog"></span><span class="planner-month-bottom-settings">Settings</span>
            </td>
        </tr>
    </table>
</div>

<span id="inject-category-creation-modal"></span>
<span id="inject-event-creation-modal"></span>
<span id="inject-planner-notes-update-modal"></span>
<span id="inject-event-update-modal"></span>
<span id="inject-category-update-modal"></span>