<div class="container">
    <table class="planner-container">
        <!-- Column Specification: Left sidebar, 7 days -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">
        <col class="planner-week-days-day">

         <!-- Top Row: Mini Calendar/Title -->
        <tr>
            <!-- Mini Calendar -->
            <td rowspan="3" id="planner-mini-calendar" class="planner-mini-cal-container">
            </td>
            <!-- Planner Title #TODO Let users name their own titles -->
            <td class="planner-title" colspan="7">
                {{ planner.get_name }}'s Planner
            </td>
        </tr><!-- End Top Row -->

        <!-- Top content: Date Selectors, layout selectors -->
        <tr class="planner-week-top-content">
            <td class="planner-date-selectors" colspan="5">
                <!-- Today Button -->
                <div class="planner-date-today-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('TODAY')">Today</button>
                    </div>
                </div>

                <!-- Monthly dates (i.e. "< Nov. >") -->
                <div class="planner-date-month-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('MONTH', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-month-selector"></span>
                </div>

                <!-- Weekly dates (i.e. "< 11/15 - 11/22 >") -->
                <div class="planner-date-week-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('WEEK', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('WEEK', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-week-selector"></span>
                </div>

                <!-- Years (i.e. "< 2015 >" ) -->
                <div class="planner-date-year-selector">
                    <div class="btn-group planner-date-selectors-btn-group" role="group">
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', -1)">
                            <span class="glyphicon glyphicon glyphicon-menu-left planner-date-selectors-button"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-date-selector" onclick="changeViewDate('YEAR', 1)">
                            <span class="glyphicon glyphicon glyphicon-menu-right planner-date-selectors-button"></span>
                        </button>
                    </div>
                    <span id="planner-date-year-selector"></span>
                </div>
            </td>
            <td class="planner-layout-selectors" colspan="2">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-day" onclick="changeViewLayout('Day')">Day</button>
                    <button type="button" class="btn btn-default btn-layout-selector active" id="btn-layout-week" onclick="changeViewLayout('Week')">Week</button>
                    <button type="button" class="btn btn-default btn-layout-selector" id="btn-layout-month" onclick="changeViewLayout('Month')">Month</button>
                </div>
            </td>
        </tr>
        
        <!-- Days List -->
        <tr class="planner-week-days">
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thurday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr><!-- End Top Content -->
    </table>

    <span id="events-in-week-view"></span>

    <!-- Bottom Content -->
    <table class="planner-container planner-week-bottom">
        <!-- Column Specification: Left sidebar, large middle, medium side -->
        <col class="planner-week-left-sidebar">
        <col class="planner-week-bottom-content">
        <col class="planner-week-bottom-settings">

        <tr>
            <td class="planner-week-bottom-category">
                Important &amp; Upcoming
            </td>
            <td class="planner-week-bottom-content">
                <span id="important-and-upcoming-list">
                </span>
            </td>
            <td class="planner-week-bottom-settings" rowspan="2">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ajax-create-event-modal">New Event</button>
                <button type="button" class="btn btn-default planner-week-bottom-settings-spacing" data-toggle="modal" data-target="#ajax-create-category-modal">New Category</button><br><br>

                <span class="glyphicon glyphicon-cog"></span><span class="planner-week-bottom-settings-settings">Settings</span>
            </td>
        </tr>

        <tr>
            <td class="planner-week-bottom-category">
                Notes
            </td>
            <td class="planner-week-bottom-content">
                {{ planner.get_miscellaneousNotes }}
            </td>
        </tr>
    </table>

    <!-- Category Creation Modal -->
    <div id="ajax-create-category-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajax-create-category-modal-label">
        <div class = "modal-dialog">
            <div class = "modal-content">
                 <div class = "modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                    <h4 class = "modal-title" id = "ajax-create-category-modal-label">
                       Create New Category
                    </h4>
                 </div>
                 <div class = "modal-body">
                    <h4>New Category Information:</h4>
                    <p>
                        <label for="category-name">Name: (required)</label><input class="form-control category-creation-name-input" type="text">
                    </p>
                    <p> 
                        <label for="category-color">Color: (required)</label>
                        <div id="category-color-dropdown" class="dropdown">
                            
                            <button href="#category-color-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle category-color-dropdown-button "><span class="attribute-label">Choose Color</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-category-color">
                                <li><a href="#">Red</a></li>
                                <li><a href="#">Dark Red</a></li>
                                <li><a href="#">Light Red</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Dark Blue</a></li>
                                <li><a href="#">Light Blue</a></li>
                                <li><a href="#">Green</a></li>
                                <li><a href="#">Dark Green</a></li>
                                <li><a href="#">Light Green</a></li>
                                <li><a href="#">Yellow</a></li>
                                <li><a href="#">Gold</a></li>
                                <li><a href="#">Orange</a></li>
                                <li><a href="#">Pink</a></li>
                                <li><a href="#">Turquoise</a></li>
                                <li><a href="#">Navy</a></li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        <label for="category-order">Order: (required)</label>
                        <div id="category-order-dropdown" class="dropdown">
                            <button href="#category-order-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle category-order-dropdown-button"><span class="attribute-label">Choose Order</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-category-order">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </p>
                    <div>
                        <br>
                        <p id="create-category-error-message-1" style="display:none">
                            <span id='category-creation-error'>Invalid new category information</span>
                        </p>
                        <p id="create-category-error-message-2" style="display:none">
                            <span id='category-creation-error'>A planner can only hold 10 categories</span>
                        </p>
                        <p id="create-category-error-message-3" style="display:none">
                            <span id='category-creation-error'>Categories cannot have the same name</span>
                        </p>
                    </div>
                 </div>
                 <div class = "modal-footer">
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                       Cancel
                    </button>
                    <button type ="button" class ="btn btn-success" id="create-category-submit">
                       Create
                    </button>
                 </div>
            </div>
        </div>
    </div>

    <!-- Event Creation Modal -->
    <div id="ajax-create-event-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ajax-create-event-modal-label">
        <div class = "modal-dialog">
            <div class = "modal-content">
                 <div class = "modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                    <h4 class = "modal-title" id = "ajax-create-event-modal-label">
                       Create New Event
                    </h4>
                 </div>
                 <div class = "modal-body">
                    <h4>New Event Information:</h4>
                    <p>
                        <label for="event-name">Name: (required)</label><input class="form-control event-creation-name-input" type="text">
                    </p>
                    <p>
                        <label for="event-parentCategory">To which category does this event belong? (required)</label>
                        <div id="event-parentCategory-dropdown" class="dropdown">
                            <button href="#event-parentCategory-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-parentCategory-dropdown-button"><span class="attribute-label">Event's Category</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-event-parentCategory">
                                {% for category in categoriesInPlanner %}
                                    <li><a href="#">{{ category.get_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </p>
                    <p> 
                        <label for="event-description">Description (optional):</label>
                        <p>
                        <textarea name="event-description" id="event-creation-description-input"></textarea>
                        <p>
                    </p>
                    <p>
                        <label for=".event-creation-date-input">Date of Event: (required)<input class="form-control event-creation-date-input" type="date"></label>
                    </p>
                    <p>
                        <label for="event-timeEstimate">Time Estimate (optional):</label>
                        <div id="event-timeEstimate-dropdown" class="dropdown">
                            <button href="#event-timeEstimate-dropdown" data-toggle="dropdown" type="button" class="btn dropdown-toggle event-timeEstimate-dropdown-button"><span class="attribute-label">Time Estimate</span><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-event-timeEstimate">
                                <li><a href="#">15 minutes</a></li>
                                <li><a href="#">30 minutes</a></li>
                                <li><a href="#">45 minutes</a></li>
                                <li><a href="#">1 hour</a></li>
                                <li><a href="#">2 hours</a></li>
                                <li><a href="#">3 hours</a></li>
                                <li><a href="#">4 hours</a></li>
                                <li><a href="#">5 hours</a></li>
                                <li><a href="#">6 hours</a></li>
                                <li><a href="#">7 hours</a></li>
                                <li><a href="#">8 hours</a></li>
                                <li><a href="#">More than 8 hours</a></li>
                            </ul>
                        </div>
                    </p>
                    <p>
                        <label for=".event-creation-startTime-input">Start Time (optional):<input class="form-control event-creation-startTime-input" type="time"></label>
                    </p>
                    <p>
                        <label for=".event-creation-endTime-input">End Time (optional):<input class="form-control event-creation-endTime-input" type="time"></label>
                    </p>
                    <p>
                        <label for=".event-creation-important-input">Important:<input class="form control event-creation-important-input" type="checkbox"></label> 
                    </p>
                    <div>
                        <br>
                        <p id="create-event-error-message-1" style="display:none">
                            <span id='event-creation-error'>Invalid new event information</span>
                        </p>
                        <p id="create-event-error-message-2" style="display:none">
                            <span id='event-creation-error'>New event contains the same name as an existing event in the specified for the specified day</span>
                        </p>
                    </div>
                 </div>
                 <div class = "modal-footer">
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                       Cancel
                    </button>
                    <button type ="button" class ="btn btn-success" id="create-event-submit">
                       Create
                    </button>
                 </div>
            </div>
        </div>
    </div>

    <script>
        // Category Creation Drop Down Menu Function - replaces default value with user-specified value
        $(function(){

            $(".dropdown-menu-category-color li a").click(function(){

              $(".category-color-dropdown-button:first-child").text($(this).text());
              $(".category-color-dropdown-button:first-child").val($(this).text());

            });

            $(".dropdown-menu-category-order li a").click(function(){

              $(".category-order-dropdown-button:first-child").text($(this).text());
              $(".category-order-dropdown-button:first-child").val($(this).text());

            });

        });

        // Handles category creation AJAX form submission and validates form before .ajax call
        $('#create-category-submit').click(function(){
            var categoryName = $(".category-creation-name-input").val();
            var categoryColor = $(".category-color-dropdown-button").val();
            var categoryOrder = $(".category-order-dropdown-button").val();
            
            var validForm = true;

            var existingCategoryNamesCheck = $("span[id*='week-planner-category-names']").length;

            if (categoryName.length == 0 || categoryColor == "" || categoryOrder == "")
            {
                $("#create-category-error-message-2").hide();
                $("#create-category-error-message-3").hide();
                $("#create-category-error-message-1").show();
                validForm = false;  
            }

            if (categoryName.length != 0 && categoryColor != "" && categoryOrder != "" && validForm == true)
            {
                $("#create-category-error-message-1").hide();
            }

            if (validForm == true)
            {
                $.ajax({
                    url: "/create-category/",
                    type: "POST",
                    dataType: 'html',
                    data:
                    {
                        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                        ajax_category_name: categoryName,
                        ajax_category_color: categoryColor,
                        ajax_category_order: categoryOrder
                    },
                    success: function(data, textStatus, jqXHR) {
                        $('#ajax-create-category-modal').modal('hide');
                        $('.modal-backdrop').remove();
                        changeViewLayout(localStorage.layoutType);
                    },
                    error: function() {
                        // If this var is less than 10, the only other error that can occur is same name category
                        if (existingCategoryNamesCheck < 10)
                        {
                            $('#create-category-error-message-1').hide();
                            $('#create-category-error-message-3').show();
                        }
                        else 
                        {
                            $('#create-category-error-message-2').show();
                        }
                    },

                });
            }
            
        });

        // Handles reseting the category creation modal on close or create
        $('#ajax-create-category-modal').on('hidden.bs.modal', function(){
            $('.category-creation-name-input').val("");
            $('.category-color-dropdown-button').html("<span class='attribute-label'>Choose Color</span><span class='caret'></span>");
            $('.category-order-dropdown-button').html("<span class='attribute-label'>Choose Order</span><span class='caret'></span>");
            $('#create-category-error-message-1').hide();
            $('#create-category-error-message-2').hide();
            $("#create-category-error-message-3").hide();
        });

        // Event Creation Drop Down Menu Function - replaces default value with user-specified value
        $(function(){

            $(".dropdown-menu-event-parentCategory li a").click(function(){

              $(".event-parentCategory-dropdown-button:first-child").text($(this).text());
              $(".event-parentCategory-dropdown-button:first-child").val($(this).text());

            });

            $(".dropdown-menu-event-timeEstimate li a").click(function(){

                $(".event-timeEstimate-dropdown-button:first-child").text($(this).text());
                $(".event-timeEstimate-dropdown-button:first-child").val($(this).text());
            });

        });

        // Handles event creation AJAX form submission and validates form before .ajax call
        $('#create-event-submit').click(function(){
            var eventName = $('.event-creation-name-input').val();
            var eventParentCategory = $('.event-parentCategory-dropdown-button').val();
            var eventDescription = $('#event-creation-description-input').val();
            var eventDate = $('.event-creation-date-input').val();
            var eventTimeEstimate = $('.event-timeEstimate-dropdown-button').val();
            var eventStartTime = $('.event-creation-startTime-input').val();
            var eventEndTime = $('.event-creation-endTime-input').val();
            var eventImportant = $('.event-creation-important-input').is(":checked");

            var validForm = true;

            if (eventName.length == 0 || eventParentCategory == "" || eventDate == "")
            {
                $('#create-event-error-message-1').show();
                validForm = false;
            }

            if (eventName.length != 0 && eventParentCategory != "" && eventDate != "")
            {
                $('#create-event-error-message-1').hide();
                validForm = true;
            }

            if (validForm == true)
            {
                $.ajax({
                    url: "/create-event/",
                    type: "POST",
                    dataType: 'html',
                    data:
                    {
                        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                        ajax_event_name: eventName,
                        ajax_event_parentCategory: eventParentCategory,
                        ajax_event_description: eventDescription,
                        ajax_event_date: eventDate,
                        ajax_event_timeEstimate: eventTimeEstimate,
                        ajax_event_startTime: eventStartTime,
                        ajax_event_endTime: eventEndTime,
                        ajax_event_important: eventImportant,
                    },
                    success: function(data, textStatus, jqXHR) {
                        $('#ajax-create-event-modal').modal('hide');
                        $('.modal-backdrop').remove();
                        changeViewDate("NONE");
                    },
                    error: function() {
                        $('#create-event-error-message-2').show();
                    },

                });
            }
        });

        // Handles reseting the event creation modal on close or create
        $('#ajax-create-event-modal').on('hidden.bs.modal', function(){
            $('.event-creation-name-input').val("");
            $('.event-parentCategory-dropdown-button').html("<span class='attribute-label'>Event's Category</span><span class='caret'></span>");
            $('#event-creation-description-input').val("");
            $('.event-creation-date-input').val("");
            $('.event-timeEstimate-dropdown-button').html("<span class='attribute-label'>Time Estimate</span><span class='caret'></span>");
            $('.event-creation-startTime-input').val("");
            $('.event-creation-endTime-input').val("");
            $('.event-creation-important-input').prop("checked", false);
            $('#create-event-error-message-1').hide();
            $('#create-event-error-message-2').hide();
        });

    </script>

</div>

